<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Function 5
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Функция 5 </h1>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>2273</td>
            <td>в-NumOrd-ых, XP/Cl</td>
            <td>Во-первых, я бы хотел поблагодарить своего тренера.</td>
        </tr>
        <tr>
            <td>2353</td>
            <td>С одной стороны, XP/Cl. С другой (стороны), XP/Cl</td>
            <td>С одной стороны, мои знания были глубокими, с другой стороны, односторонними.</td>
        </tr>
    </table>
    <p>page under construction</p>

</div>

    <br><br>
</body>

</html>