<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Function 4
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Функция 4</h1>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>687</td>
            <td>(а) насчёт NP-Gen – Cl</td>
            <td>А насчёт папы – он уехал на рыбалку.</td>
        </tr>
        <tr>
            <td>6</td>
            <td>(а/так) что насчёт XP?</td>
            <td>Что насчёт пятницы? Какие у тебя планы?</td>
        </tr>
        <tr>
            <td>365</td>
            <td>что касается NP-Gen, то Cl</td>
            <td>Что касается спорта, то я никогда не любил бегать.</td>
        </tr>
    </table>
    <p>page under construction</p>

</div>

    <br><br>
</body>

</html>