<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="icon" type="image/x-icon" href="../../images/logo.png">
    <title>Function 2</title>
    <script src="https://cdn.jsdelivr.net/npm/js-yaml@3.14.0/dist/js-yaml.min.js"
        integrity="sha256-8mtDTinb8+d2bC/9KhCJoCRBEylWUIV/3YEt5cSUvRk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
</head>

<body>
    <script src="../../js/bootstrap.bundle.js"></script>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-warning">
        <div class="container">
            <a class="navbar-brand" href="../../index.html">
                <img src="../../images/main_logo.png" alt="" width="300">
            </a>
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse float-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item m-3">
                            <a class="btn btn-outline-info " aria-current="page" href="../../index.html">Home</a>
                        </li>
                        <li class="nav-item btn-group m-3">

                            <a class="btn btn-outline-info" href="../Lessons.html" role="button">Lessons</a>
                            <button class="btn btn-outline-info dropdown-toggle dropdown-toggle-split"
                                id="navbarDropdownMenuLinkLessons" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLinkLessons">
                                <li><a class="dropdown-item" href="../lessons/Lesson1.html"><b>1. Знакомство.</b> Introducing
                                        yourself</a></li>
                                <li><a class="dropdown-item" href="../lessons/Lesson2.html"><b>2. Поездка за границу.</b> Traveling
                                        abroad</a></li>
                                <li><a class="dropdown-item" href="../lessons/Lesson3.html"><b>3. Устройство на работу.</b> Getting
                                        a job</a></li>
                                <li><a class="dropdown-item" href="../lessons/Lesson4.html"><b>4. Поход к врачу.</b> Going to the
                                        doctor</a></li>
                                <li><a class="dropdown-item" href="../lessons/Lesson5.html"><b>5. Закрепление уроков 1-4.</b>
                                        Review lessons 1-4</a></li>
                                <li><a class="dropdown-item" href="../lessons/Lesson6.html"><b>6. Транспорт.</b> Getting around</a>
                                </li>
                                <li><a class="dropdown-item" href="../lessons/Lesson7.html"><b>7. Праздники.</b> Holiday
                                        celebrations</a></li>
                                <li><a class="dropdown-item" href="../lessons/Lesson8.html"><b>8. Еда.</b> Cooking and eating</a>
                                </li>
                                <li><a class="dropdown-item" href="../lessons/Lesson9.html"><b>9. Внешность.</b> Personal
                                        Appearance </a></li>
                                <li><a class="dropdown-item" href="../lessons/Lesson10.html"><b>10. Характер.</b> Describing
                                        personality</a></li>
                                <li><a class="dropdown-item" href="../lessons/Lesson11.html"><b>11. Одежда.</b> Getting dressed</a>
                                </li>
                                <li><a class="dropdown-item" href="../lessons/Lesson12.html"><b>12. Закрепление уроков 6-11.</b>
                                        Review lessons 6-11</a></li>
                            </ul>
                        </li>

                        <li class="nav-item btn-group m-3">
                            <a class="btn btn-outline-info active" href="../Functions.html" role="button">Functions</a>
                            <button class="btn btn-outline-info dropdown-toggle dropdown-toggle-split active"
                                id="navbarDropdownMenuLinkFunctions" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLinkFunctions">
                                <li><a class="dropdown-item" href="Function1.html"><b>1. Пояснить. </b>Clarify your point</a></li>
                                <li><a class="dropdown-item" href="Function2.html"><b>2. Привести пример. </b>Give an example</a></li>
                                <li><a class="dropdown-item" href="Function3.html"><b>3. Добавить информацию. </b>Add information</a></li>
                                <li><a class="dropdown-item" href="Function4.html"><b>4. Ввести тему. </b>Introduce a topic</a></li>
                                <li><a class="dropdown-item" href="Function5.html"><b>5. Упорядочить аргументы. </b>Structure your argument</a></li>
                                <li><a class="dropdown-item" href="Function6.html"><b>6. Подвести итог. </b>Draw a conclusion</a></li>
                                <li><a class="dropdown-item" href="Function7.html"><b>7. Выразить свое мнение. </b>Express your opinion</a></li>
                                <li><a class="dropdown-item" href="Function8.html"><b>8. Узнать мнение собеседника. </b>Ask someone for their opinion</a></li>
                                <li><a class="dropdown-item" href="Function9.html"><b>9. Смягчить категоричность высказывания. </b>Hedge</a></li>
                            </ul>
                        </li>
                        <li class="nav-item m-3">
                            <a class="btn btn-outline-info" href="../about.html">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <section id="start_table" class="p-5">
        <script type="module" src="../../js/build_construction_tables.js"></script>
    </section>

    <section id="content">
        <script type="module" src="../../js/build_lessons.js"></script>
    </section>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="Function1.html">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">Up</a></li>
                <li class="page-item"><a class="page-link" href="Function3.html">Next</a></li>
            </ul>
        </nav>
    </div>
    <div class="container-fluid" id="footer">
        <footer class="footer mt-auto py-3 my-4">
            <div class="row border-bottom align-items-center" style="height: 10px">
                <div class="col p-3 w-30" >
                    <a href="https://constructicon.github.io/russian/" target="_blank"><img src="../../images/constructicon.png" class="img-fluid" alt=""></a>
                </div>
                <div class="col p-3 w-30">
                    <a href="https://uit.no/startsida" target="_blank"><img src="../../images/uit.png" class="img-fluid" alt=""></a>
                </div>
                <div class="col p-3 w-30">
                    <a href="https://www.hse.ru/en/" target="_blank"><img src="../../images/HSE_University_blue.png" class="img-fluid" alt="" style="width: 250px;"></a>
                </div>
                <div class="col p-3 w-30">
                    <a href="https://hkdir.no/norwegian-directorate-for-higher-education-and-skills" target="_blank"><img src="../../images/hkdir_alt.png" class="img-fluid" alt=""></a>
                </div>
            </div>
            <!--            <p class="text-center text-muted">© лицензия</p>-->
        </footer>
    </div>
</body>

</html>