<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Function 7
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Функция 7</h1>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>11</td>
            <td>(как) по мне, (так) Cl</td>
            <td>Как по мне, это ещё не беда.</td>
        </tr>
        <tr>
            <td>188</td>
            <td>на PronPoss-Loc месте/на месте NP-Gen Cl бы</td>
            <td>На его месте я бы поступила в другой университет.</td>
        </tr>
        <tr>
            <td>739</td>
            <td>будь моя воля, Cl бы</td>
            <td>Будь моя воля, я бы одни конфеты ел.</td>
        </tr>
        <tr>
            <td>1019</td>
            <td>если PronPers-1 правильно понять/понимать, Cl</td>
            <td>Если я правильно понимаю, он уже не придёт.</td>
        </tr>
        <tr>
            <td>1137</td>
            <td>на PronPoss-Acc взгляд, Cl</td>
            <td>На мой взгляд, у него сложный характер.</td>
        </tr>
        <tr>
            <td>2005</td>
            <td>насколько PronPers-1 понимать, Cl</td>
            <td>Ты ещё не готов, насколько я понимаю.</td>
        </tr>
        <tr>
            <td>2222</td>
            <td>честно говоря, Cl</td>
            <td>Честно говоря, я с вами не согласен.</td>
        </tr>
        <tr>
            <td>2003</td>
            <td>по-моему, Cl</td>
            <td>По-моему, мы проехали нашу остановку.</td>
        </tr>
    </table>
    <p>page under construction</p>

</div>

    <br><br>
</body>

</html>