<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Function 6
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Функция 6</h1>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>1839</td>
            <td>таким образом, Cl</td>
            <td>Таким образом, наша команда за год добилась важных результатов.</td>
        </tr>
        <tr>
            <td>1100</td>
            <td>как бы то ни было, Cl</td>
            <td>На новой клавиатуре клавиши расположены странно.<br> Как бы то ни было, к этому быстро привыкаешь.</td>
        </tr>
        <tr>
            <td>836</td>
            <td>в целом Cl</td>
            <td>В целом кино достойно просмотра.</td>
        </tr>
        <tr>
            <td>308</td>
            <td>словом, Cl</td>
            <td>Словом, я хочу её видеть.</td>
        </tr>
        <tr>
            <td>1870</td>
            <td>(да) и вообще, Cl</td>
            <td>Да и вообще, я слишком занят.</td>
        </tr>
        <tr>
            <td>107</td>
            <td>дело Cop не в NP-Loc (, а в NP-Loc)</td>
            <td>Дело не в опозданиях.</td>
        </tr>
        <tr>
            <td>2311</td>
            <td>Cl, и на том спасибо</td>
            <td>Не обижают, и на том спасибо.</td>
        </tr>
        <tr>
            <td>64</td>
            <td>вот и Pred!</td>
            <td>Вот и чудесно!</td>
        </tr>
    </table>
    <p>page under construction</p>

</div>

    <br><br>
</body>

</html>