<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Function 3
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Функция 3</h1>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>170</td>
            <td>кроме того XP/Cl</td>
            <td>Он, кроме того, плавает.</td>
        </tr>
        <tr>
            <td>410</td>
            <td>не только XP, но и XP</td>
            <td>Он был не только умён, но и добр.</td>
        </tr>
        <tr>
            <td>1872</td>
            <td>(и) кстати (говоря), Cl</td>
            <td>И кстати, он пришёл без подарка.</td>
        </tr>
        <tr>
            <td>1093</td>
            <td>к тому же XP/Cl</td>
            <td>К тому же каждый день шёл снег.</td>
        </tr>
        <tr>
            <td>1867</td>
            <td>плюс/вдобавок (ко всему/к тому/к этому), Cl</td>
            <td>Плюс ко всему, погода резко испортилась.</td>
        </tr>
        <tr>
            <td>1874</td>
            <td>(Так) мало того – Cl</td>
            <td>Мало того, Маша привела с собой друзей.</td>
        </tr>
        <tr>
            <td>1873</td>
            <td>VP, заодно VP</td>
            <td>Сходи за хлебом, заодно мусор вынесешь.</td>
        </tr>
    </table>
    <p>page under construction</p>

</div>

    <br><br>
</body>

</html>