<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Function 2
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Функция 2</h1>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>1841</td>
            <td>например, Cl/XP</td>
            <td>Например, в Финляндии запретили курить везде в общественных местах.</td>
        </tr>
        <tr>
            <td>1840</td>
            <td>к примеру, Cl/XP</td>
            <td>Вот, к примеру, мне нравится Мерилин Монро.</td>
        </tr>
        <tr>
            <td>2350</td>
            <td>так, Cl</td>
            <td>Кошки намного хуже нас видят цвета. Так, красный цвет им недоступен.</td>
        </tr>
    </table>
    <p>page under construction</p>

</div>

    <br><br>
</body>

</html>