<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 8
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Урок 8. Еда <a href="../../files/Lesson 8. Download.pdf" target="_blank" style="color: inherit; font-size: smaller;">&#8595скачать</a></h1>
    <p>Конструкции урока:</p>
        <table class="table_lesson">
            <tr>
                <th>ID</th>
                <th>Construction</th>
                <th>Illustration</th>
            </tr>
            <tr>
                <td>107</td>
                <td>дело Cop не в NP-Loc (, а в NP-Loc)</td>
                <td>Дело не в опозданиях.</td>
            </tr>
            <tr>
                <td>687</td>
                <td>(а) насчёт NP-Gen – Cl</td>
                <td>А насчёт папы – он уехал на рыбалку.</td>
            </tr>
            <tr>
                <td>64</td>
                <td>вот и Predicative!</td>
                <td>Вот и чудесно!</td>
            </tr>
            <tr>
                <td>2311</td>
                <td>Cl, и на том спасибо</td>
                <td>Не обижают, и на том спасибо.</td>
            </tr>
            <tr>
                <td>1174</td>
                <td>NP типа NP-Gen</td>
                <td>дом типа хижины</td>
            </tr>
        </table>
        <p>XP = phrase (фраза)<br>
            Cl = clause, sentence (предложение)
        </p>
        <p>Русский конструктикон <a href="https://constructicon.github.io/russian/" target="_blank"
            style="color: inherit;">https://constructicon.github.io/russian/</a></p>
    <div>page under construction</div>

</div>

    <br><br>
</body>

</html>