<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 4
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Урок 4. Поход к врачу <a href="../../files/Урок 4 Download preliminary v..pdf" target="_blank" style="color: inherit; font-size: smaller;">&#8595скачать</a></h1>
    <p>Конструкции урока:</p>
        <table class="table_lesson">
            <tr>
                <th>ID</th>
                <th>Construction</th>
                <th>Illustration</th>
            </tr>
            <tr>
                <td>1087</td>
                <td>иными/другими словами, XP/Cl</td>
                <td>Наш корреспондент выехал в аэропорт, чтобы взять интервью. Другими словами, задать несколько вопросов.</td>
            </tr>
            <tr>
                <td>1831</td>
                <td>XP/Cl, то есть XP/Cl</td>
                <td>У меня было кредитов, то есть долга, на два миллиона.</td>
            </tr>
            <tr>
                <td>1833</td>
                <td>XP, а именно XP</td>
                <td>Он мне подарил книгу, а именно энциклопедию о динозаврах.</td>
            </tr>
            <tr>
                <td>1874</td>
                <td>(Так) мало того – Cl</td>
                <td>Мало того, Маша привела с собой друзей.</td>
            </tr>
            <tr>
                <td>1868</td>
                <td>ко всему прочему, Cl</td>
                <td>Ко всему прочему, он курит и пьёт.</td>
            </tr>
            <tr>
                <td>1870</td>
                <td>(да) и вообще, Cl</td>
                <td>Да и вообще, я слишком занят.</td>
            </tr>
        </table>
        <p>XP = phrase (фраза)<br>
            Cl = clause, sentence (предложение)
        </p>
        <p>Русский конструктикон <a href="https://constructicon.github.io/russian/" target="_blank"
            style="color: inherit;">https://constructicon.github.io/russian/</a></p>
    <div>page under construction</div>

</div>

    <br><br>
</body>

</html>