<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 9
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Урок 9. Внешность <a href="../../files/Урок 9 Download preliminary v..pdf" target="_blank" style="color: inherit; font-size: smaller;">&#8595скачать</a></h1>
    <p>Конструкции урока:</p>
        <table class="table_lesson">
            <tr>
                <th>ID</th>
                <th>Construction</th>
                <th>Illustration</th>
            </tr>
            <tr>
                <td>706</td>
                <td>Аdj-Nom Cop NP-Nom, правда (ведь)?</td>
                <td>Красивая девочка, правда?</td>
            </tr>
            <tr>
                <td>2281</td>
                <td>Cl, не правда ли?</td>
                <td>Интересный художник, не правда ли?</td>
            </tr>
            <tr>
                <td>692</td>
                <td>Cl, а NP-Nom как думать-Prs?</td>
                <td>Мне кажется, ему не идёт этот костюм, а ты как думаешь?</td>
            </tr>
            <tr>
                <td>693</td>
                <td>а NP-Nom не думать-Prs, что Cl?</td>
                <td>А ты не думаешь, что это слишком дорого?</td>
            </tr>
            <tr>
                <td>2003</td>
                <td>по-моему, Cl</td>
                <td>По-моему, мы проехали нашу остановку.</td>
            </tr>
            <tr>
                <td>2276</td>
                <td>Cl, по-твоему /по-вашему?</td>
                <td>Сколько, по-твоему, это может продолжаться?</td>
            </tr>
        </table>
        <p>XP = phrase (фраза)<br>
            Cl = clause, sentence (предложение)
        </p>
        <p>Русский конструктикон <a href="https://constructicon.github.io/russian/" target="_blank"
            style="color: inherit;">https://constructicon.github.io/russian/</a></p>
    <div>page under construction</div>

</div>

    <br><br>
</body>

</html>