<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 1
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Урок 1. Знакомство <a href="../../files/Lesson 1. Download.pdf" target="_blank" style="color: inherit; font-size: smaller;">&#8595скачать</a></h1>
        <p>Конструкции урока:</p>
        <table class="table_lesson">
            <tr>
                <th>ID</th>
                <th>Construction</th>
                <th>Illustration</th>
            </tr>
            <tr>
                <td>170</td>
                <td>(а) кроме того XP/Cl</td>
                <td>Он, кроме того, плавает.</td>
            </tr>
            <tr>
                <td>410</td>
                <td>не только XP, но и XP</td>
                <td>Он был не только умён, но и добр.</td>
            </tr>
            <tr>
                <td>1872</td>
                <td>(и) кстати (говоря), Cl</td>
                <td>И кстати, он пришёл без подарка.</td>
            </tr>
            <tr>
                <td>1093</td>
                <td>к тому же XP/Cl</td>
                <td>К тому же каждый день шёл снег.</td>
            </tr>
            <tr>
                <td>1867</td>
                <td>плюс/вдобавок (ко всему/к тому/к этому), Cl</td>
                <td>Плюс ко всему, погода резко испортилась.</td>
            </tr>
        </table>
        <p>XP = phrase (фраза)<br>
            Cl = clause, sentence (предложение)
        </p>
        <p>Русский конструктикон <a href="https://constructicon.github.io/russian/" target="_blank"
            style="color: inherit;">https://constructicon.github.io/russian/</a></p>
    
    <h3>1. Прочитайте текст. Для чего нужны конструкции, выделенные в тексте? Что они обозначают?</h3>

    <button onclick="Ex1_eng()">Show in English</button>
    <div class="translation" id="ex1_eng"></div><br>
    <button onclick="Ex1_norw()">Show in Norwegian</button>
    <div class="translation" id="ex1_norw"></div>

    <div class="second_indent">
        <p>
            а.<br>
            Познакомьтесь! Матвей Белов – студент медицинского факультета. <span class="construction">Кроме того</span>, Матвей
            занимается каратэ и хорошо плавает. Матвей <span class="construction">не только</span> учится, <span class="construction">но и</span> работает санитаром в
            больнице. Это полезный опыт, <span class="construction">к тому же</span> неплохая зарплата. <span class="construction">Кстати говоря</span>, в этой больнице
            лежала моя тëтя. Она говорит, что Матвей – замечательный санитар и, <span class="construction">плюс ко всему</span>, у него
            очень хорошее чувство юмора.
        </p>
        <p>
            б.<br>
            Это Ирина. Она талантливая певица. Ирина <span class="construction">не только</span> отлично поет, <span class="construction">но и</span> прекрасно играет на
            гитаре. <span class="construction">Кстати говоря</span>, гитару Ирине подарил отец.
        </p>
        <button onclick="Ex1()">Показать ответ</button>
        <div id="ex1_ans"></div>
    </div>

    <h3>2. Переформулируйте предложения, используя конструкцию <span class="construction">не только XP, но и XP.</span> Любое ли
        предложение можно переделать? (Если нельзя, напишите <i>нельзя переделать</i>) </h3>
    <button onclick="Ex2_eng()">Show in English</button>
    <div class="translation" id="ex2_eng"></div><br>
    <button onclick="Ex2_norw()">Show in Norwegian</button>
    <div class="translation" id="ex2_norw"></div>
        
    <div class="second_indent">
        <p>а. Роман хорошо играет в футбол и фотографирует.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex2a_input">
        <button onclick="check_Ex2a()">Проверить</button><br>
        <div id="ex2a_result" style="display: inline;"></div><br>
        <button onclick="Ex2a()">Показать ответ</button>
        <div id="ex2a_ans"></div>
        <p>б. София красиво поëт и играет на пианино.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex2b_input">
        <button onclick="check_Ex2b()">Проверить</button><br>
        <div id="ex2b_result" style="display: inline;"></div><br>
        <button onclick="Ex2b()">Показать ответ</button>
        <div id="ex2b_ans"></div>
        <p>в. Даниил плохо видит и носит очки.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex2c_input">
        <button onclick="check_Ex2c()">Проверить</button><br>
        <div id="ex2c_result" style="display: inline;"></div><br>
        <button onclick="Ex2c()">Показать ответ</button>
        <div id="ex2c_ans"></div>
    </div>

    <h3>3. Составьте предложения.</h3>
    <button onclick="Ex3_eng()">Show in English</button>
    <div class="translation" id="ex3_eng"></div><br>
    <button onclick="Ex3_norw()">Show in Norwegian</button>
    <div class="translation" id="ex3_norw"></div>

    <div class="second_indent">
        <p><b>Образец</b>:<br>
            Егор любит не только играть на компьютере, но и придумывать свои игры.<br></p>
        <table class="table_lesson" style="width: 600px">
            <tr>
                <td>Егор любит </td>
                <td rowspan="5">Не только V, но и V</td>
                <td>играть на компьютере<br>
                    придумывать свои игры</td>
            </tr>
            <tr>
                <td>Полине нравится</td>
                <td>готовить еду<br>
                    придумывать свои рецепты</td>
            </tr>
            <tr>
                <td>Степан хочет</td>
                <td>много путешествовать<br>
                    снимать видеоблог</td>
            </tr>
            <tr>
                <td>Стас планирует</td>
                <td>изучать анатомию<br>
                    стать кардиохирургом</td>
            </tr>
            <tr>
                <td>Михаил мечтает</td>
                <td>работать переводчиком<br>
                    написать свою книгу</td>
            </tr>
            <tr>
                <td>Инна</td>
                <td rowspan="4">не только Adj, но и Adj</td>
                <td>умная<br>
                    красивая</td>
            </tr>
            <tr>
                <td>Игорь</td>
                <td>добрый<br>
                    вежливый</td>
            </tr>
            <tr>
                <td>Валентина</td>
                <td>приятная<br>
                    ответственная</td>
            </tr>
            <tr>
                <td>Максим</td>
                <td>весëлый<br>
                    пунктуальный</td>
            </tr>
            <tr>
                <td>Я много путешествовал</td>
                <td rowspan="2">не только Prep+N, но и Prep+N</td>
                <td>в Америке<br>
                    в Азии</td>
            </tr>
            <tr>
                <td>Сергей много знает</td>
                <td>о космосе<br>
                    о ракетах</td>
            </tr>
        </table>
    </div>

    <h3>4. Соедините части предложений, подобрав логичное продолжение.<br>Назовите, слова каких частей речи стоят на месте <span class="construction">XP</span> в конструкции <span class="construction">не только XP, но и
        XP.</span></h3>
    <button onclick="Ex4_eng()">Show in English</button>
    <div class="translation" id="ex4_eng"></div><br>
    <button onclick="Ex4_norw()">Show in Norwegian</button>
    <div class="translation" id="ex4_norw"></div>

    <div class="second_indent">
        <!-- <p>Для первой части предложения в левом столбце таблицы подберите логичное продолжение из правого столбца.<br> Для каждого предложения назовите часть речи тех слов, которые связаны конструкцией не только XP, но и XP</p> -->
        <table class="table_lesson" style="width: 650px">
        <tr>
            <td>1. Я люблю не только книги про Шерлока Холмса,<br><br>
                2. Он был не только талантливым писателем,<br><br>
                3. Не только школьники,<br><br>
                4. Ксюша - самая красивая девочка не только в нашем классе,<br><br>
                5. Он не только отлично плавал,
            </td>
            <td>а. но и во всей школе!<br><br>
                б. но и вкусно готовил.<br><br>
                в. но и умным политиком.<br><br>
                г. но и учителя выбежали на улицу играть в снежки.<br><br>
                д. но и фильмы о нём.
            </td>
        </tr>
        </table>
        <br>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_input" placeholder="1а, 2б, 3в, 4г, 5д">
        <button onclick="check_Ex4()">Проверить</button><br>
        <div id="ex4_result" style="display: inline;"></div><br>
        <button onclick="Ex4()">Показать ответ</button>
        <div id="ex4_ans"></div>
    </div>
    

    <h3>5. Переформулируйте предложения, используя конструкцию <span class="construction">(а) кроме того XP/Cl.</span></h3>
    <button onclick="Ex5_eng()">Show in English</button>
    <div class="translation" id="ex5_eng"></div><br>
    <button onclick="Ex5_norw()">Show in Norwegian</button>
    <div class="translation" id="ex5_norw"></div>

    <div class="second_indent">
        <p><b>Образец</b>:<br>
            Иван пережил много невероятных приключений. Он мог увлекательно рассказать о них.<br>
            <i>Иван пережил много невероятных приключений, <span class='construction'>а кроме того</span>, он мог увлекательно
            рассказать о них.</i><br>
        </p>
        
        <p>а. Мы сами выращиваем на даче овощи и фрукты. Мы собираем в лесу ягоды.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex5a_input">
        <button onclick="check_Ex5a()">Проверить</button><br>
        <div id="ex5a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex5a()">Показать ответ</button>
        <div id="ex5a_ans"></div>
        <p>б. Я люблю фильмы про природу. Мне нравится фантастика.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex5b_input">
        <button onclick="check_Ex5b()">Проверить</button><br>
        <div id="ex5b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex5b()">Показать ответ</button>
        <div id="ex5b_ans"></div>
    </div>
    
    <h3>6. Переформулируйте предложения, используя конструкцию <span class="construction">(а) кроме того XP/Cl.</span><br>
        Замените союз <i>и</i> на слова <span class="construction"><i>а кроме того</i></span>.</h3>
    <button onclick="Ex6_eng()">Show in English</button>
    <div class="translation" id="ex6_eng"></div><br>
    <button onclick="Ex6_norw()">Show in Norwegian</button>
    <div class="translation" id="ex6_norw"></div>

    <div class="second_indent">
        <p><b>Образец</b>:<br>
            Вчера я решил убраться во всем доме и выбросить мусор.<br>
            <i>Вчера я решил убраться во всем доме, <span class='construction'>а кроме того</span>, выбросить мусор.</i><br>
        </p>
        
        <p>а. Моя подруга очень умная и веселая.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex6a_input">
        <button onclick="check_Ex6a()">Проверить</button><br>
        <div id="ex6a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex6a()">Показать ответ</button>
        <div id="ex6a_ans"></div>
        <p>б. Мы хотим купить новый автомобиль и продать старый.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex6b_input">
        <button onclick="check_Ex6b()">Проверить</button><br>
        <div id="ex6b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex6b()">Показать ответ</button>
        <div id="ex6b_ans"></div>
    </div>


    
    <h3>7. Перед вами запись в дневнике. Соедините предложения с помощью конструкций
        <ul type="circle">
            <li><span class="construction">к тому же XP/Cl</span></li>
            <li><span class="construction">плюс/вдобавок (ко всему/к тому/к этому), Cl</span></li>
            <li><span class="construction">(а) кроме того XP/Cl</span></li>
        </ul>
    </h3>
    <button onclick="Ex7_eng()">Show in English</button>
    <div class="translation" id="ex7_eng"></div><br>
    <button onclick="Ex7_norw()">Show in Norwegian</button>
    <div class="translation" id="ex7_norw"></div>

    <div class="second_indent">
        <p>Дорогой дневник, день сегодня просто отличный!<br>
            Погода теплая и солнечная!
            <ul>
                <li>По дороге на учебу встретил старого друга.</li>
                <li>Я посмотрел новую серию моего любимого сериала.</li>
                <li>Мы с отцом наконец выбрали, какую машину мы купим.</li>
                <li>Я позвал Юлю в кино, и она согласилась!</li>
            </ul>
        </p>
    </div>


    <h3>8. Соедините части предложений, подобрав логичное продолжение.
        Обратите внимание, что конструкция <span class="construction">(и) кстати (говоря), Cl</span> вводит дополнительную
        информацию и обозначает отклонение от темы.</h3>
    <button onclick="Ex8_eng()">Show in English</button>
    <div class="translation" id="ex8_eng"></div><br>
    <button onclick="Ex8_norw()">Show in Norwegian</button>
    <div class="translation" id="ex8_norw"></div>

    <div class="second_indent">
        <!-- <p>Для первой части предложения в левом столбце таблицы подберите логичное продолжение из правого столбца.<br> Для каждого предложения назовите часть речи тех слов, которые связаны конструкцией не только XP, но и XP</p> -->
        <table class="table_lesson" style="width: 850px">
        <tr>
            <td>1. К нам в гости пришла тетя Клава, наша соседка.<br><br>
                2. Петя опять поругался со своим братом Кириллом.<br><br>
                3. У тебя на телефоне опять не работает навигатор.<br><br>
                4. Знаете ли вы, что стены и башни московского Кремля спроектировал архитектор из Италии?<br><br>
                5. Я купил билеты в кино, пойдешь со мной?
            </td>
            <td>а. Кирилл, кстати, до сих пор не вернул Пете плеер.<br><br>
                б. Кстати говоря, после фильма будет встреча с режиссером.<br><br>
                в. Она, кстати говоря, недавно сломала руку.<br><br>
                г. И кстати говоря, мы едем не в ту сторону!<br><br>
                д. И кстати, раньше стены были белого цвета, а не красного, как сегодня.
            </td>
        </tr>
        </table>
        <br>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex8_input" placeholder="1а, 2б, 3в, 4г, 5д">
        <button onclick="check_Ex8()">Проверить</button><br>
        <div id="ex8_result" style="display: inline;"></div><br>
        <button onclick="Ex8()">Показать ответ</button>
        <div id="ex8_ans"></div>
    </div>

    <h3>9. Конструкция <span class="construction">(и) кстати (говоря), Cl</span> имеет четыре варианта:
        <table class="table_lesson">
            <tr>
                <td>а. кстати</td>
                <td>б. и кстати</td>
                <td>в. кстати говоря</td>
                <td>г. и кстати говоря</td>
            </tr>
        </table>
        Обратите внимание, что варианты <span class="construction">и кстати</span> и <span class="construction">и кстати говоря</span> не используются в
        середине предложения. Учитывая это, заполните пропуски в предложениях
        максимальным количеством вариантов.
    </h3>
    <button onclick="Ex9_eng()">Show in English</button>
    <div class="translation" id="ex9_eng"></div><br>
    <button onclick="Ex9_norw()">Show in Norwegian</button>
    <div class="translation" id="ex9_norw"></div>

    <ol>
        <li>Знакомьтесь, это Владимир Сергеевич. Моего папу, <input class="input_normal" type="text" id="ex9a_input" placeholder="а, б, в, г"> , тоже так зовут.</li>
        <div id="ex9a_result" style="display: inline;"></div><br>
        <li>Не думал, что ты умеешь играть на гитаре. <input class="input_normal" type="text" id="ex9b_input" placeholder="а, б, в, г"> , где ты этому научился?</li>
        <div id="ex9b_result" style="display: inline;"></div><br>
        <li>Я решил пойти на курсы итальянского. Уроки, <input class="input_normal" type="text" id="ex9c_input" placeholder="а, б, в, г"> , ведёт настоящий итальянец.</li>
        <div id="ex9c_result" style="display: inline;"></div><br>
        <li>Квартира стоит восемьсот евро. <input class="input_normal" type="text" id="ex9d_input" placeholder="а, б, в, г"> , электричество оплачивается отдельно.</li>
        <div id="ex9d_result" style="display: inline;"></div><br>
        <li>Тебе лучше поторопиться, уже восемь сорок! <input class="input_normal" type="text" id="ex9e_input" placeholder="а, б, в, г"> , не забудь взять зонт, на улице дождь.</li>
        <div id="ex9e_result" style="display: inline;"></div><br>
        <li>Моя бабушка работала учительницей английского в школе. <input class="input_normal" type="text" id="ex9f_input" placeholder="а, б, в, г"> , она никогда не была за границей, но знала его идеально.</li>
        <div id="ex9f_result" style="display: inline;"></div><br>
    </ol>
    <button onclick="check_Ex9()">Проверить</button><br><br>
    <button onclick="Ex9()">Показать ответ</button>
    <div id="ex9_ans"></div>

    <h3>10*. Бонусное упражнение<br>
        Заполните пропуски словами из списка. Объясните, почему другие варианты не подходят. Правильных ответов может быть больше одного.
    <p class="second_indent">
        <span class="construction">а. Кстати<br>
        б. Кроме того<br>
        в. К тому же<br></span>
    </p>
    </h3>
    <button onclick="Ex10_eng()">Show in English</button>
    <div class="translation" id="ex10_eng"></div><br>
    <button onclick="Ex10_norw()">Show in Norwegian</button>
    <div class="translation" id="ex10_norw"></div>

    <div class="second_indent">
        <ol>
            <li>Ты так красиво поешь! <input class="input_normal" type="text" id="ex10a_input" placeholder="а, б, в"> ты никогда не думала стать певицей?</li>
            <div id="ex10a_result" style="display: inline;"></div><br>
            <li>Я снимаю влоги, чтобы показать свои путешествия друзьям и родственникам. <input class="input_normal" type="text" id="ex10b_input" placeholder="а, б, в"> это приносит небольшой доход.</li>
            <div id="ex10b_result" style="display: inline;"></div><br>
            <li>Собаку мы заводить не будем! По контракту мы не можем жить в этой квартире с собакой. <input class="input_normal" type="text" id="ex10c_input" placeholder="а, б, в"> на собак у меня алле ргия.</li>
            <div id="ex10c_result" style="display: inline;"></div><br>
            <li>Какая милая у вас собачка! <input class="input_normal" type="text" id="ex10d_input" placeholder="а, б, в"> как её зовут?</li>
            <div id="ex10d_result" style="display: inline;"></div><br>
            <li>Не думаю, что у фильма есть шансы на Оскар. Актёры играли ужасно. <input class="input_normal" type="text" id="ex10e_input" placeholder="а, б, в"> сценарий очень нелогичный.</li>
            <div id="ex10e_result" style="display: inline;"></div><br>
            <li>Свадьба — это очень дорого. <input class="input_normal" type="text" id="ex10f_input" placeholder="а, б, в"> её нужно долго планировать.</li>
            <div id="ex10f_result" style="display: inline;"></div><br>
            <li>Свадьба — это очень весело. <input class="input_normal" type="text" id="ex10g_input" placeholder="а, б, в"> можно наконец увидеть всех своих родственников и друзей.</li>
            <div id="ex10g_result" style="display: inline;"></div><br>
        </ol>
        <button onclick="check_Ex10()">Проверить</button><br><br>
        <button onclick="Ex10()">Показать ответ</button>
        <div id="ex10_ans"></div>
    </div>

    <h3>11. Обсудите с собеседником, чей лучший друг лучше: ваш или его. Приведите
        аргументы. Используйте конструкцию <span class="construction">не только XP, но и XP</span>.</h3>
    <button onclick="Ex11_eng()">Show in English</button>
    <div class="translation" id="ex11_eng"></div><br>
    <button onclick="Ex11_norw()">Show in Norwegian</button>
    <div class="translation" id="ex11_norw"></div><br>
    <button onclick="Ex11_comment()">Comment for language teachers</button>
    <div class="translation" id="ex11_comment"></div>

    <div class="second_indent">
        <p><b>Образец</b>:<br>
            — Мой друг веселый.<br>
            — А мой друг не только веселый, но и умный.<br>
            — А мой друг не только умный, но и добрый.
        </p>

    </div>
    
    <h3>12. Расскажите, каким должен быть настоящий друг. Добавляйте информацию с помощью конструкций:
        <ul type="circle">
            <li><span class="construction">(а) кроме того XP/Cl</span></li>
            <li><span class="construction">не только XP, но и XP</span></li>
            <li><span class="construction">(и) кстати (говоря), Cl</span></li>
            <li><span class="construction">к тому же XP/Cl</span></li>
            <li><span class="construction">плюс/вдобавок (ко всему/к тому/к этому), Cl</span></li>
        </ul>
    </h3>
    <button onclick="Ex12_eng()">Show in English</button>
    <div class="translation" id="ex12_eng"></div><br>
    <button onclick="Ex12_norw()">Show in Norwegian</button>
    <div class="translation" id="ex12_norw"></div><br>
    <button onclick="Ex12_comment()">Comment for language teachers</button>
    <div class="translation" id="ex12_comment"></div>

    <div class="second_indent">
        <p><b>Образец</b>:<br>
            Настоящий друг добрый. <span class="construction">Кроме того</span>, настоящий друг всегда помогает...
        </p>
    </div>

    <h3>13. Вы встретили на улице знаменитость (известного человека). Объясните друзьям кто
        это, не называя его имени. Они должны отгадать, кто этот человек. После каждого
        неправильного предположения вы добавляете еще один факт, чтобы помочь им
        отгадать. Используйте конструкции:
        <ul type="circle">
            <li><span class="construction">(а) кроме того XP/Cl</span></li>
            <li><span class="construction">не только XP, но и XP</span></li>
            <li><span class="construction">(и) кстати (говоря), Cl</span></li>
            <li><span class="construction">к тому же XP/Cl</span></li>
            <li><span class="construction">плюс/вдобавок (ко всему/к тому/к этому), Cl</span></li>
        </ul>
    </h3>
    <button onclick="Ex13_eng()">Show in English</button>
    <div class="translation" id="ex13_eng"></div><br>
    <button onclick="Ex13_norw()">Show in Norwegian</button>
    <div class="translation" id="ex13_norw"></div><br>
    <button onclick="Ex13_comment()">Comment for language teachers</button>
    <div class="translation" id="ex13_comment"></div>

    <div class="second_indent">
        <p><b>Образец</b>:<br>
            Этот человек — мужчина. Он певец. Этот мужчина <span class="construction">не только</span> хорошо поет, <span class="construction">но и</span> отлично 
            играет на скрипке. Он родился в Минске, но потом долго жил в Норвегии. <span class="construction">Кстати говоря</span>,
            этот норвежский певец выступал на Евровидении и победил! <span class="construction">Кроме того</span>, настоящий друг всегда помогает...
        </p>
        <p>
            а.<ul>
                <li>Певец, скрипач, композитор</li>
                <li>Родился с Минске (Белоруссия), долго жил в Норвегии</li>
                <li>35 лет</li>
                <li>Выступал на Евровидении (2009), победил</li>
            </ul>
        </p>
        <p>
            б.<ul>
                <li>Знаменитая певица</li>
                <li>Играет на гитаре, барабанах и пианино</li>
                <li>Родилась в Лондоне</li>
                <li>Получила премии “Оскар”, “Золотой Глобус”, “Грэмми”</li>
                <li>4 альбома (называются 19, 21, 25, 30)</li>
            </ul>
        </p>
        <p>
            в.<ul>
                <li>Девушка, 19 лет</li>
                <li>Родилась в Швеции</li>
                <li>Ее знают во всем мире</li>
                <li>Экологическая активистка</li>
            </ul>
        </p>
        <p>
            г.<ul>
                <li>Знаменитый актер</li>
                <li>Музыкант, режиссер</li>
                <li>Ему 58 лет</li>
                <li>Играет странных героев: волшебник, пират, владелец шоколадной фабрики</li>
            </ul>
        </p>
        <p>
            д.<ul>
                <li>родился в Норвегии</li>
                <li>ему 31 год</li>
                <li>чемпион мира по шахматам</li>
            </ul>
        </p>
        <p>
            е.<ul>
                <li>норвежец</li>
                <li>ему 62 года</li>
                <li>раньше он был премьер-министром</li>
                <li>теперь он работает в НАТО</li>
            </ul>
        </p>
        <p>
            ж.<ul>
                <li>родился и живет в Лос-Анджелесе</li>
                <li>стал знаменит в 23 года</li>
                <li>долго ждал Оскара</li>
                <li>занимается благотворительностью — спасает амурских тигров</li>
            </ul>
        </p>
        <p>
            з.<ul>
                <li>голливудская актриса</li>
                <li>посол доброй воли ООН</li>
                <li>35 лет</li>
                <li>у нее шесть детей</li>
            </ul>
        </p>
    
    <button onclick="Ex13()">Показать ответ</button>
    <div id="ex13_ans"></div>
    </div>

    <h3>14. Напишите короткий текст (6 или 7 предложений) о своем друге или знакомом,
        используя все 5 новых конструкций.
    </h3>
    <button onclick="Ex14_eng()">Show in English</button>
    <div class="translation" id="ex14_eng"></div><br>
    <button onclick="Ex14_norw()">Show in Norwegian</button>
    <div class="translation" id="ex14_norw"></div>


    </div>

    <br><br>
</body>

</html>