<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 7
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Урок 7. Праздники <a href="../../files/Урок 7. Download preliminary v..pdf" target="_blank" style="color: inherit; font-size: smaller;">&#8595скачать</a></h1>
    <p>Конструкции урока:</p>
        <table class="table_lesson">
            <tr>
                <th>ID</th>
                <th>Construction</th>
                <th>Illustration</th>
            </tr>
            <tr>
                <td>1873</td>
                <td>VP, заодно VP</td>
                <td>Сходи за хлебом, заодно мусор вынесешь.</td>
            </tr>
            <tr>
                <td>308</td>
                <td>словом, Cl</td>
                <td>Словом, я хочу её видеть.</td>
            </tr>
            <tr>
                <td>11</td>
                <td>(как) по мне, (так) Cl</td>
                <td>Как по мне, это ещё не беда.</td>
            </tr>
            <tr>
                <td>739</td>
                <td>будь моя воля, Cl бы</td>
                <td>Будь моя воля, я бы одни конфеты ел.</td>
            </tr>
            <tr>
                <td>2279</td>
                <td>Cl, так (ведь)?</td>
                <td>До магазина недалеко, так ведь?</td>
            </tr>
            <tr>
                <td>2303</td>
                <td>Сам подумать-Imp, Cl</td>
                <td>Сам подумай, зачем взрослому человеку это нужно?</td>
            </tr>
        </table>
        <p>XP = phrase (фраза)<br>
            Cl = clause, sentence (предложение)
        </p>
        <p>Русский конструктикон <a href="https://constructicon.github.io/russian/" target="_blank"
            style="color: inherit;">https://constructicon.github.io/russian/</a></p>
    <div>page under construction</div>

</div>

    <br><br>
</body>

</html>