<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 6
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Урок 6. Транспорт <a href="../../files/Урок 6. Download preliminary v..pdf" target="_blank" style="color: inherit; font-size: smaller;">&#8595скачать</a></h1>
    <p>Конструкции урока:</p>
        <table class="table_lesson">
            <tr>
                <th>ID</th>
                <th>Construction</th>
                <th>Illustration</th>
            </tr>
            <tr>
                <td>2001</td>
                <td>с точки зрения NP-Gen</td>
                <td>С точки зрения режиссёра, этот фильм должен иметь успех за рубежом.</td>
            </tr>
            <tr>
                <td>899</td>
                <td>впрочем, Cl</td>
                <td>Фильм получил высокие оценки. Впрочем, он получился затянутым.</td>
            </tr>
            <tr>
                <td>2278</td>
                <td>Cl, не так ли?</td>
                <td>Уютная квартира, не так ли?</td>
            </tr>
            <tr>
                <td>1137</td>
                <td>на PronPoss-Acc взгляд, Cl</td>
                <td>На мой взгляд, у него сложный характер.</td>
            </tr>
            <tr>
                <td>2005</td>
                <td>насколько PronPers-1 понимать, Cl</td>
                <td>Ты ещё не готов, насколько я понимаю.</td>
            </tr>
        </table>
        <p>XP = phrase (фраза)<br>
            Cl = clause, sentence (предложение)
        </p>
        <p>Русский конструктикон <a href="https://constructicon.github.io/russian/" target="_blank"
            style="color: inherit;">https://constructicon.github.io/russian/</a></p>
    <div>page under construction</div>

</div>

    <br><br>
</body>

</html>