<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 10
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Урок 10. Характер <a href="../../files/Урок 10 Download preliminary v..pdf" target="_blank" style="color: inherit; font-size: smaller;">&#8595скачать</a></h1>
    <p>Конструкции урока:</p>
        <table class="table_lesson">
            <tr>
                <th>ID</th>
                <th>Construction</th>
                <th>Illustration</th>
            </tr>
            <tr>
                <td>1138</td>
                <td>на первый взгляд, Cl</td>
                <td>На первый взгляд, это не искусство.</td>
            </tr>
            <tr>
                <td>2291</td>
                <td>на самом деле Cl</td>
                <td>На самом деле он в меня влюблён.</td>
            </tr>
            <tr>
                <td>1133</td>
                <td>мягко говоря, Cl</td>
                <td>Миша, мягко говоря, не подарок.</td>
            </tr>
            <tr>
                <td>934</td>
                <td>грубо говоря, Cl</td>
                <td>Разница совсем небольшая. Все видят, грубо говоря, одно и то же.</td>
            </tr>
            <tr>
                <td>78</td>
                <td>(на)вряд ли XP/Cl</td>
                <td>Вряд ли он придёт.</td>
            </tr>
            <tr>
                <td>2016</td>
                <td>Не факт, что Cl</td>
                <td>Не факт, что это удачный эксперимент.</td>
            </tr>
        </table>
        <p>XP = phrase (фраза)<br>
            Cl = clause, sentence (предложение)
        </p>
        <p>Русский конструктикон <a href="https://constructicon.github.io/russian/" target="_blank"
            style="color: inherit;">https://constructicon.github.io/russian/</a></p>
    <div>page under construction</div>

</div>

    <br><br>
</body>

</html>