<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/two.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 2
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Урок 2. Поездка за границу <a href="../../files/Lesson 2. Download.pdf" target="_blank" style="color: inherit; font-size: smaller;">&#8595скачать</a></h1>
    <p>Конструкции урока:</p>
        <table class="table_lesson">
            <tr>
                <th>ID</th>
                <th>Construction</th>
                <th>Illustration</th>
            </tr>
            <tr>
                <td>2273</td>
                <td>в-NumOrd-ых, XP/Cl</td>
                <td>Во-первых, я бы хотел поблагодарить своего тренера.</td>
            </tr>
            <tr>
                <td>2353</td>
                <td>С одной стороны, XP/Cl. С другой (стороны), XP/Cl</td>
                <td>С одной стороны, мои знания были глубокими, с другой стороны, односторонними.</td>
            </tr>
            <tr>
                <td>365</td>
                <td>что касается NP-Gen, то Cl</td>
                <td>Что касается спорта, то я никогда не любил бегать.</td>
            </tr>
            <tr>
                <td>1093</td>
                <td>в целом, Cl</td>
                <td>В целом кино достойно просмотра.</td>
            </tr>
            <tr>
                <td>1839</td>
                <td>таким образом, Cl</td>
                <td>Таким образом, наша команда за год добилась важных результатов.</td>
            </tr>
        </table>
        <p>XP = phrase (фраза)<br>
            Cl = clause, sentence (предложение)
        </p>
        <p>Русский конструктикон <a href="https://constructicon.github.io/russian/" target="_blank"
            style="color: inherit;">https://constructicon.github.io/russian/</a></p>


        <h3>1. Прочитайте текст. Для чего нужны конструкции, выделенные в тексте? Что они обозначают?</h3>

        <button onclick="Ex1_eng()">Show in English</button>
        <div class="translation" id="ex1_eng"></div><br>
        <button onclick="Ex1_norw()">Show in Norwegian</button>
        <div class="translation" id="ex1_norw"></div>
    
        <div class="second_indent">
            <p>
                а.<br>
                Чтобы поехать в Россию, вам нужно получить визу. Для этого необходимы, <span class="construction">во-первых</span>,
                деньги, <span class="construction">во-вторых</span>, время, а <span class="construction">в-третьих</span>, терпение*. <span class="construction">С одной стороны</span>, оформлять
                документы очень скучно, <span class="construction">с другой стороны</span>, это необходимо. <span class="construction">Что касается</span> времени, <span class="construction">то</span>
                визу надо делать заранее, как минимум за месяц до поездки. <span class="construction">В целом</span>, визу сделать
                несложно!<br>
                *терпение — English: patience; Norwegian: tålmodighet
            </p>
            <p>
                б.<br>
                Программа обмена доступна* многим студентам. Для неё вам необходимо подготовить
                небольшой пакет документов. <span class="construction">Во-первых</span>, вам нужна копия паспорта. <span class="construction">Во-вторых</span>, справка
                о знании английского языка. <span class="construction">В-третьих</span>, рекомендательное письмо от одного
                преподавателя. Кроме того, вам надо написать короткое эссе. <span class="construction">С одной стороны</span>, это очень
                легко сделать. <span class="construction">С другой стороны</span>, только 10% студентов решают попробовать.<br>
                *доступна — English: available; Norwegian: tilgjengelig
            </p>
            <p>
                в.<br>
                Привет, Мартин! Спасибо тебе за приглашение в Норвегию на Пасху! Я очень хочу поехать,
                но боюсь, что не успею собрать документы. <span class="construction">Во-первых</span>, у меня нет загранпаспорта. <span class="construction">С
                одной стороны</span>, его очень просто сделать, <span class="construction">а с другой стороны</span>, это может занять* три
                месяца. <span class="construction">Что касается</span> других справок и сертификатов, то <span class="construction">в целом</span>, их выдают быстро.
                <span class="construction">Таким образом</span>, когда я получу загранпаспорт, мне можно будет подавать документы на
                визу. <span class="construction">Как бы то ни было</span>, я надеюсь, что всё сделаю вовремя и приеду в Норвегию! Твоя
                подруга Саша.<br>
                занять* — det kan ta (om tid)
            </p>
        </div>
        
        <h3>2. Составьте текст, используя конструкцию <span class="construction">в-NumOrd-ых, XP/Cl</span>.
            В этой конструкции NumOrd — это порядковое числительное (ordinal
            numeral), которое образует слова <span class="construction">во-первых, во-вторых, в-третьих, в-
            четвёртых...</span> . На месте XP/Cl находится фраза (XP=phrase) или целое
            предложение (Cl=clause, sentence)
        </h3>
        <button onclick="Ex2_eng()">Show in English</button>
        <div class="translation" id="ex2_eng"></div><br>
        <button onclick="Ex2_norw()">Show in Norwegian</button>
        <div class="translation" id="ex2_norw"></div><br>
    
        <div class="second_indent">
            <p>
                а. Что нужно, чтобы поехать в Россию?<ol>
                    <li>Сделать визу</li>
                    <li>Купить билеты</li>
                    <li>Забронировать отель/найти жильё</li>
                    <li>Собрать чемодан/вещи</li>
                </ol>
            </p>
            <p>
                б. Почему вы хотите поехать в Россию?<ol>
                    <li>Интересные музеи</li>
                    <li>Красивая архитектура</li>
                    <li>Хорошие люди</li>
                    <li>Вкусная еда</li>
                </ol>
            </p>
            <p>
                в. У имени Александр есть много вариантов.<ol>
                    <li>Обычно используют сокращённый* вариант этого имени, Саша.</li>
                    <li>Есть ещё другие варианты имени Александр — Шура, Саня, Алик.</li>
                    <li>Саша — это не только мужское, но и женское имя (Александра).</li>
                <ol>
           </p>
        </div><span style="display:inline-block;">сокращённый* — forkortet</span><br>
        <button onclick="Ex2()">Показать ответ</button>
        <div id="ex2_ans"></div>

        <h3>3. Перепишите информационное письмо из визового центра, используя
            конструкцию <span class="construction">в-NumOrd-ых, XP/Cl</span>.
            В этой конструкции NumOrd — это порядковое числительное (ordinal
            numeral), которое образует слова <span class="construction">во-первых, во-вторых, в-третьих, в-
            четвёртых...</span> . На месте XP/Cl находится фраза (XP=phrase) или целое
            предложение (Cl=clause, sentence)
        </h3>
        <button onclick="Ex3_eng()">Show in English</button>
        <div class="translation" id="ex3_eng"></div><br>
        <button onclick="Ex3_norw()">Show in Norwegian</button>
        <div class="translation" id="ex3_norw"></div><br>
    
        <div class="second_indent">
            <p>
                Добрый день! Вы записаны в визовый центр на 12:00.<br>
                Список документов, которые вам нужно иметь с собой…
                <ul>
                    <li>загранпаспорт;</li>
                    <li>сертификат о вакцинации;</li>
                    <li>подтверждение о бронировании отеля;</li>
                    <li>две фотографии;</li>
                </ul>
                С уважением,<br>
                Визовый центр.
            </p>
        </div>
        <button onclick="Ex3()">Показать ответ</button>
        <div id="ex3_ans"></div>

        <h3>4. Перед вами схема получения визы на сайте Министерства иностранных
            дел РФ. Вы сотрудник посольства. Расскажите туристу, который хочет
            поехать в Россию, что ему нужно сделать, чтобы получить визу.
            Используйте схему, слова «надо», «нужно» и «необходимо», а также
            конструкцию <span class="construction">в-NumOrd-ых, XP/Cl</span>.
        </h3>
        <button onclick="Ex4_eng()">Show in English</button>
        <div class="translation" id="ex4_eng"></div><br>
        <button onclick="Ex4_norw()">Show in Norwegian</button>
        <div class="translation" id="ex4_norw"></div><br>
    
        <div class="second_indent">
            <p>Оригинал схемы смотрите <a href="https://electronic-visa.kdmid.ru/spb_home.html" target="_blank">на сайте</a>.
            </p>
        </div>

        <h3>5. Соедините части предложений, подобрав логичное продолжение.Используйте
            конструкцию <span class="construction">С одной стороны, XP/Cl. С другой (стороны), XP/Cl.</span> Слово
            «стороны» во второй части конструкции часто опускается, поэтому в
            формуле конструкции оно указано в скобках ().</h3>
        <button onclick="Ex5_eng()">Show in English</button>
        <div class="translation" id="ex5_eng"></div><br>
        <button onclick="Ex5_norw()">Show in Norwegian</button>
        <div class="translation" id="ex5_norw"></div>
    
        <div class="second_indent">
            <!-- <p>Для первой части предложения в левом столбце таблицы подберите логичное продолжение из правого столбца.<br> Для каждого предложения назовите часть речи тех слов, которые связаны конструкцией не только XP, но и XP</p> -->
            <table class="table_lesson" style="width: 650px">
            <tr>
                <td>1. В Москве зимой очень красиво<br><br>
                    2. Путешествовать интересно<br><br>
                    3. Есть много сладкого вредно<br><br>
                    4. Учить русский язык сложно<br><br>
                    5. Смотреть сериалы весело
                </td>
                <td>а. сладкое — это очень вкусно<br><br>
                    б. это прокрастинация<br><br>
                    в. там холодно<br><br>
                    г. очень интересно<br><br>
                    д. для путешествий нужно много времени и денег
                </td>
            </tr>
            </table>
            <br>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex5_input" placeholder="1а, 2б, 3в, 4г, 5д">
            <button onclick="check_Ex5()">Проверить</button><br>
            <div id="ex5_result" style="display: inline;"></div><br>
            <button onclick="Ex5()">Показать ответ</button>
            <div id="ex5_ans"></div>
        </div>

        <h3>6. Антон отдыхал в Греции и после поездки решил написать отзыв на сайте
            отеля. Что-то ему понравилось, а что-то не понравилось. Антон сделал
            заметки. Помогите ему написать отзыв, соединив предложения.
            Используйте конструкцию <span class="construction">С одной стороны, XP/Cl. С другой (стороны),
                XP/Cl</span>.
        </h3>
        <button onclick="Ex6_eng()">Show in English</button>
        <div class="translation" id="ex6_eng"></div><br>
        <button onclick="Ex6_norw()">Show in Norwegian</button>
        <div class="translation" id="ex6_norw"></div>
    
        <ol>
            <li>В отеле была хорошая еда / плохо убирали в номере<br><input class="input_normal" type="text" id="ex6a_input"></li>
            <div id="ex6a_result" style="display: inline;"></div><br>
            <li>У отеля отдельный пляж / там всегда было много людей<br><input class="input_normal" type="text" id="ex6b_input"></li>
            <div id="ex6b_result" style="display: inline;"></div><br>
            <li>Вечером были весёлые вечеринки / музыка всю ночь мешала спать.<br><input class="input_normal" type="text" id="ex6c_input"></li>
            <div id="ex6c_result" style="display: inline;"></div><br>
            <li>находиться в отеле было приятно / иногда некомфортно<br><input class="input_normal" type="text" id="ex6d_input"></li>
            <div id="ex6d_result" style="display: inline;"></div><br>
        </ol>
        <button onclick="check_Ex6()">Проверить</button><br><br>
        <button onclick="Ex6()">Показать ответ</button>
        <div id="ex6_ans"></div>




</div>

    <br><br>
</body>

</html>