<!DOCTYPE html>
<html>

<head>
    <script src="../scripts/functions.js"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../images/logo.png">
    <title>Functions
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="about.html">ABOUT</a>
</div>

    <table class="first_indent" id="function_cont">
        <tr class="lesson_cont_row">
            <td class="no_border">
                <a href="functions/one.html" class="no_undscr"><b>1. Пояснить</b> / Clarify your point</a>
                <button onclick="func_one()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_one">
                    <tr>
                        <td class="no_border">иными/другими словами, XP/Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">XP/Cl, то есть XP/Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">XP, а именно XP</td>
                    </tr>
                    <tr>
                        <td class="no_border">иначе говоря, XP/Cl</td>
                    </tr>
              </table>
            </td>
                
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="functions/two.html" class="no_undscr"><b>2. Привести пример</b> / Give an example</a>
                <button onclick="func_two()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_two">
                    <tr>
                        <td class="no_border">например, Cl/XP</td>
                    </tr>
                    <tr>
                        <td class="no_border">к примеру, Cl/XP</td>
                    </tr>
                    <tr>
                        <td class="no_border">так, Cl</td>
                    </tr>
              </table>
            </td>
            
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="functions/three.html" class="no_undscr"><b>3. Добавить информацию</b> / Add information</a>
                <button onclick="func_three()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_three">
                    <tr>
                        <td class="no_border">кроме того XP/Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">не только XP, но и XP</td>
                    </tr>
                    <tr>
                        <td class="no_border">(и) кстати (говоря), Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">к тому же XP/Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">плюс/вдобавок (ко всему/к тому/к этому), Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">(Так) мало того – Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">VP, заодно VP</td>
                    </tr>
              </table>
            </td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="functions/four.html" class="no_undscr"><b>4. Ввести тему</b> / Introduce a topic</a>
                <button onclick="func_four()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_four">
                    <tr>
                        <td class="no_border">(а/так) что насчёт XP?</td>
                    </tr>
                    <tr>
                        <td class="no_border">что касается NP-Gen, то Cl</td>
                    </tr>
              </table>
            </td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="functions/five.html" class="no_undscr"><b>5. Упорядочить аргументы</b> / Structure your argument</a>
                <button onclick="func_five()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_five">
                    <tr>
                        <td class="no_border">в-NumOrd-ых, XP/Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">С одной стороны, XP/Cl. С другой (стороны), XP/Cl</td>
                    </tr>
              </table>
            </td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="functions/six.html" class="no_undscr"><b>6. Подвести итог</b> / Draw a conclusion</a>
                <button onclick="func_six()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_six">
                    <tr>
                        <td class="no_border">таким образом, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">как бы то ни было, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">в целом Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">словом, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">(да) и вообще, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">дело Cop не в NP-Loc (, а в NP-Loc)</td>
                    </tr>
                    <tr>
                        <td class="no_border">Cl, и на том спасибо</td>
                    </tr>
                    <tr>
                        <td class="no_border">вот и Pred!</td>
                    </tr>
              </table>
            </td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="functions/seven.html" class="no_undscr"><b>7. Выразить свое мнение</b> / Express your opinion</a>
                <button onclick="func_seven()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_seven">
                    <tr>
                        <td class="no_border">(как) по мне, (так) Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">на PronPoss-Loc месте/на месте NP-Gen Cl бы</td>
                    </tr>
                    <tr>
                        <td class="no_border">будь моя воля, Cl бы</td>
                    </tr>
                    <tr>
                        <td class="no_border">если PronPers-1 правильно понять/понимать, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">на PronPoss-Acc взгляд, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">насколько PronPers-1 понимать, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">честно говоря, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">по-моему, Cl</td>
                    </tr>
              </table>
            </td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="functions/eight.html" class="no_undscr"><b>8. Узнать мнение собеседника</b> / Ask someone for their opinion</a>
                <button onclick="func_eight()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_eight">
                    <tr>
                        <td class="no_border">Cl, а NP-Nom как думать-Prs?</td>
                    </tr>
                    <tr>
                        <td class="no_border">Cl, по-твоему/по-вашему?</td>
                    </tr>
                    <tr>
                        <td class="no_border">Аdj-Nom Cop NP-Nom, правда (ведь)?</td>
                    </tr>
                    <tr>
                        <td class="no_border">Cl, не правда ли?</td>
                    </tr>
                    <tr>
                        <td class="no_border">а NP-Nom не думать-Prs, что</td>
                    </tr>
              </table>
            </td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="functions/nine.html" class="no_undscr"><b>9. Смягчить категоричность высказывания</b> / Hedge</a>
                <button onclick="func_nine()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_nine">
                    <tr>
                        <td class="no_border">мягко говоря, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">грубо говоря, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">на первый взгляд, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">на самом деле Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">Не факт, что Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">(на)вряд ли XP/Cl</td>
                    </tr>
              </table>
            </td>
        </tr>
    </table>

    <div class="images_block">
        <img class="images" src="../images/constructicon.png" alt="constructicon" style="width: 200px;">
        <img class="images" src="../images/uit.png" alt="constructicon" style="height: 50px;">
        <img class="images" src="../images/hse.svg" alt="constructicon" style="height: 50px;">
        <img  src="../images/hkdir.png" alt="constructicon" style="height: 80px;">
    </div>
</body>