<!DOCTYPE html>
<html>

<head>
    <script src="../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../images/logo.png">
    <title>Functions
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="about.html">ABOUT</a>
</div>

    <table class="first_indent" id="lesson_cont">
        <tr class="lesson_cont_row">
            <td class="no_border">
                <a href="functions/one.html" class="no_undscr"><b>1. Пояснить</b> / Clarify your point</a>
                <button onclick="func_one()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_one">
                    <tr>
                        <td class="no_border">иными/другими словами, XP/Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">XP/Cl, то есть XP/Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">XP, а именно XP</td>
                    </tr>
                    <tr>
                        <td class="no_border">иначе говоря, XP/Cl</td>
                    </tr>
              </table>
            </td>
                
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="functions/two.html" class="no_undscr"><b>2. Привести пример</b> / Give an example</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="functions/three.html" class="no_undscr"><b>3. Добавить информацию</b> / Add information</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="functions/four.html" class="no_undscr"><b>4. Ввести тему</b> / Introduce a topic</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="functions/five.html" class="no_undscr"><b>5. Упорядочить аргументы</b> / Structure your argument</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="functions/six.html" class="no_undscr"><b>6. Подвести итог</b> / Draw a conclusion</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="functions/seven.html" class="no_undscr"><b>7. Выразить свое мнение</b> / Express your opinion</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="functions/eight.html" class="no_undscr"><b>8. Узнать мнение собеседника</b> / Ask someone for their opinion</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="functions/nine.html" class="no_undscr"><b>9. Смягчить категоричность высказывания</b> / Hedge</a></td>
        </tr>
    </table>

    <div class="images_block">
        <img class="images" src="../images/constructicon.png" alt="constructicon" style="width: 200px;">
        <img class="images" src="../images/uit.png" alt="constructicon" style="height: 50px;">
        <img class="images" src="../images/hse.svg" alt="constructicon" style="height: 50px;">
        <img  src="../images/hkdir.png" alt="constructicon" style="height: 80px;">
    </div>
</body>