<!DOCTYPE html>
<html>

<head>
    <script src="../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../images/logo.png">
    <title>Lessons
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <!-- <img src="../images/logo.png" alt="construxercise_logo" style="width: 100px;
        height: 100px; float: left; margin: 15px;"> -->
        
        <img src="../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
        <!-- <h1 style="font-size: 55px; font-weight:normal;display: inline;">Construxercise!</h1>
        <h2 style="font-size: 30px; font-weight:normal;">Hands-on learning of Russian constructions</h2> -->
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="about.html">ABOUT</a>
</div>

    <table class="first_indent" id="lesson_cont">
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="lessons/one.html" class="no_undscr"><b>1. Знакомство</b>. Introducing yourself.</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_2" class="no_undscr"><b>2. Поездка за границу</b>. Traveling abroad.</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_3" class="no_undscr"><b>3. Устройство на работу</b>. Getting a job.</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_4" class="no_undscr"><b>4. Поход к врачу</b>. Going to the doctor.</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_5" class="no_undscr"><b>5. Закрепление уроков 1-4</b>. Review lessons 1-4.</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_6" class="no_undscr"><b>6. Транспорт</b>. Getting around.</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_7" class="no_undscr"><b>7. Праздники</b>. Holiday celebrations.</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_8" class="no_undscr"><b>8. Еда</b>. Cooking and eating.</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_8" class="no_undscr"><b>9. Внешность</b>. Personal appearance.</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_8" class="no_undscr"><b>10. Характер</b>. Describing personality.</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_11" class="no_undscr"><b>11. Одежда</b>. Getting dressed.</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_11" class="no_undscr"><b>12. Закрепление уроков 5-11</b>. Review lessons 5-11.</a></td>
        </tr>
    </table>

    <div class="images_block">
        <img class="images" src="../images/constructicon.png" alt="constructicon" style="width: 200px;">
        <img class="images" src="../images/uit.png" alt="constructicon" style="height: 50px;">
        <img class="images" src="../images/hse.svg" alt="constructicon" style="height: 50px;">
        <img  src="../images/hkdir.png" alt="constructicon" style="height: 80px;">
    </div>
</body>