<!DOCTYPE html>
<html>

<head>
    <script src="../scripts/lessons.js"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../images/logo.png">
    <title>Lessons
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <!-- <img src="../images/logo.png" alt="construxercise_logo" style="width: 100px;
        height: 100px; float: left; margin: 15px;"> -->
        
        <img src="../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
        <!-- <h1 style="font-size: 55px; font-weight:normal;display: inline;">Construxercise!</h1>
        <h2 style="font-size: 30px; font-weight:normal;">Hands-on learning of Russian constructions</h2> -->
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="about.html">ABOUT</a>
</div>

    <table class="first_indent" id="lesson_cont">
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="lessons/one.html" class="no_undscr"><b>1. Знакомство</b>. Introducing yourself.</a>
                <button onclick="func_one()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_one">
                    <tr>
                        <td class="no_border">(а) кроме того, XP/Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">не только XP, но и XP</td>
                    </tr>
                    <tr>
                        <td class="no_border">(и) кстати (говоря), Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">к тому же XP/Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">плюс/вдобавок (ко всему/к тому/к этому), Cl</td>
                    </tr>
              </table>
            </td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="lessons/two.html" class="no_undscr"><b>2. Поездка за границу</b>. Traveling abroad.</a>
                <button onclick="func_two()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_two">
                    <tr>
                        <td class="no_border">в-NumOrd-ых, XP/Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">С одной стороны, XP/Cl. С другой (стороны), XP/Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">что касается NP-Gen, то Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">в целом, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">таким образом, Cl</td>
                    </tr>
              </table>
            </td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="lessons/three.html" class="no_undscr"><b>3. Устройство на работу</b>. Getting a job.</a>
                <button onclick="func_three()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_three">
                    <tr>
                        <td class="no_border">к примеру, Cl/XP</td>
                    </tr>
                    <tr>
                        <td class="no_border">так, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">(а/так) что насчёт XP?</td>
                    </tr>
                    <tr>
                        <td class="no_border">что касается NP-Gen, то Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">честно говоря, Cl</td>
                    </tr>
              </table>
            </td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="lessons/four.html" class="no_undscr"><b>4. Поход к врачу</b>. Going to the doctor.</a>
                <button onclick="func_four()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_four">
                    <tr>
                        <td class="no_border">иными/другими словами, XP/Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">XP/Cl, то есть XP/Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">XP, а именно XP</td>
                    </tr>
                    <tr>
                        <td class="no_border">(Так) мало того – Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">ко всему прочему, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">(да) и вообще, Cl</td>
                    </tr>
              </table>
            </td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="lessons/five.html" class="no_undscr"><b>5. Закрепление уроков 1-4</b>. Review lessons 1-4.</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="lessons/six.html" class="no_undscr"><b>6. Транспорт</b>. Getting around.</a>
                <button onclick="func_six()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_six">
                    <tr>
                        <td class="no_border">с точки зрения NP-Gen</td>
                    </tr>
                    <tr>
                        <td class="no_border">впрочем, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">Cl, не так ли?</td>
                    </tr>
                    <tr>
                        <td class="no_border">на PronPoss-Acc взгляд, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">насколько PronPers-1 понимать, Cl</td>
                    </tr>
              </table>
            </td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="lessons/seven.html" class="no_undscr"><b>7. Праздники</b>. Holiday celebrations.</a>
                <button onclick="func_seven()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_seven">
                    <tr>
                        <td class="no_border">VP, заодно VP</td>
                    </tr>
                    <tr>
                        <td class="no_border">словом, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">(как) по мне, (так) Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">будь моя воля, Cl бы</td>
                    </tr>
                    <tr>
                        <td class="no_border">Cl, так (ведь)?</td>
                    </tr>
                    <tr>
                        <td class="no_border">Сам подумать-Imp, Cl</td>
                    </tr>
              </table>
            </td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="lessons/eight.html" class="no_undscr"><b>8. Еда</b>. Cooking and eating.</a>
                <button onclick="func_eight()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_eight">
                    <tr>
                        <td class="no_border">дело Cop не в NP-Loc (, а в NP-Loc)</td>
                    </tr>
                    <tr>
                        <td class="no_border">(а) насчёт NP-Gen – Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">вот и Predicative!</td>
                    </tr>
                    <tr>
                        <td class="no_border">Cl, и на том спасибо</td>
                    </tr>
                    <tr>
                        <td class="no_border">NP типа NP-Gen</td>
                    </tr>
              </table>
            </td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="lessons/nine.html" class="no_undscr"><b>9. Внешность</b>. Personal appearance.</a>
                <button onclick="func_nine()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_nine">
                    <tr>
                        <td class="no_border">Аdj-Nom Cop NP-Nom, правда (ведь)?</td>
                    </tr>
                    <tr>
                        <td class="no_border">Cl, не правда ли?</td>
                    </tr>
                    <tr>
                        <td class="no_border">Cl, а NP-Nom как думать-Prs?</td>
                    </tr>
                    <tr>
                        <td class="no_border">а NP-Nom не думать-Prs, что Cl?</td>
                    </tr>
                    <tr>
                        <td class="no_border">по-моему, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">Cl, по-твоему /по-вашему?</td>
                    </tr>
              </table>
            </td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="lessons/ten.html" class="no_undscr"><b>10. Характер</b>. Describing personality.</a>
                <button onclick="func_ten()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_ten">
                    <tr>
                        <td class="no_border">на первый взгляд, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">на самом деле Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">мягко говоря, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">грубо говоря, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">(на)вряд ли XP/Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">Не факт, что Cl</td>
                    </tr>
              </table>
            </td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="lessons/eleven.html" class="no_undscr"><b>11. Одежда</b>. Getting dressed.</a>
                <button onclick="func_eleven()" class="no_border expand_btn">▽</button>
                <table class="second_indent collapsible" id="func_exmpl_eleven">
                    <tr>
                        <td class="no_border">в заключение VP/Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">Итак, Cl</td>
                    </tr>
                    <tr>
                        <td class="no_border">XP/Cl, XP/Cl и так далее/и т. д.</td>
                    </tr>
                    <tr>
                        <td class="no_border">NP, NP и тому подобное/и т. п.</td>
                    </tr>
                    <tr>
                        <td class="no_border">в частности, Cl/XP</td>
                    </tr>
                    <tr>
                        <td class="no_border">скажем, Cl/XP</td>
                    </tr>
              </table>
            </td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="lessons/twelve.html" class="no_undscr"><b>12. Закрепление уроков 5-11</b>. Review lessons 5-11.</a></td>
        </tr>
    </table>

    <div class="images_block">
        <img class="images" src="../images/constructicon.png" alt="constructicon" style="width: 200px;">
        <img class="images" src="../images/uit.png" alt="constructicon" style="height: 50px;">
        <img class="images" src="../images/hse.svg" alt="constructicon" style="height: 50px;">
        <img  src="../images/hkdir.png" alt="constructicon" style="height: 80px;">
    </div>
</body>